# IntelliJ IDEA 配置文件
.idea/
*.iml
*.iws
*.ipr

.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt

# 忽略指定文件
docs/model_download.md
utils/check_url.py
utils/ex05.py
utils/ex06.py
model/IXC/SimHei.ttf

# 忽略指定目录（末尾斜杠表示目录）
model/sam2-hiera-large/